$desktop-l: 1680px;
$desktop-m: 1440px;
$desktop-s: 1280px;
$tablet-l: 1110px;
$tablet-s: 989px;
$mobile-l: 768px;
$mobile-m: 650px;
$mobile-s: 500px;

@mixin desktop-l() {
  @media (max-width: $desktop-l) {
    @content;
  }
}
@mixin desktop-m() {
  @media (max-width: $desktop-m) {
    @content;
  }
}
@mixin desktop-s() {
  @media (max-width: $desktop-s) {
    @content;
  }
}
@mixin tablet-l() {
  @media (max-width: $tablet-l) {
    @content;
  }
}
@mixin tablet-s() {
  @media (max-width: $tablet-s) {
    @content;
  }
}
@mixin mobile-l() {
  @media (max-width: $mobile-l) {
    @content;
  }
}
@mixin mobile-m() {
  @media (max-width: $mobile-m) {
    @content;
  }
}
@mixin mobile-s() {
  @media (max-width: $mobile-s) {
    @content;
  }
}
